**/.ipynb_checkpoints/
**/__pycache__/
.DS_Store
.vscode/
gh-token.txt
/scripts/data-collection.ipynb
/data/*
!data/codes-report-exported-from-atlasti.txt
!data/requirements-and-respondents.csv
!data/requirements-dataset.csv
!data/respondents-dataset.csv